{% extends 'TheB./base.html' %}
{% block title %}  {%endblock %}
{% block content %}
<p><b>E-Charts</b> <i>are the most sophisticated, yet, most user-friendly at the same time System for MDs.
    Made by</i> <b>Boris Milanović</b>, <i>represents the actual try to lower the cost of the health-care and
    bring the health-care on higher level. Inducing primary, secondary and tertirary system in one.</i></p>
<head>
    <h1 style="font-size:40px"; align="center" >FRONT PAGE</h1>
</head>





{% endblock %}